a {
  font-family: "Neue Sans Regular", sans-serif;
  font-size: 15px;
  line-height: 225%;
  display: inline-block;
  margin-bottom: 28px;
}

.topContainer {
  max-width: 1104px;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-block: 64px;
}

.midContainer {
  max-width: 1104px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}

.botContainer {
  max-width: 1104px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 528px 528px;
  grid-template-rows: 348px 348px;
  gap: 48px 40px;
  margin-bottom: 64px;
}

.landingCard {
  display: flex;
  padding: 32px 40px;
  align-items: center;
  flex-direction: column;
  background-color: #E2E8F0;
  border-radius: 20px;
}

.landingCard > span {
  font-family: "Neue Sans Regular", sans-serif;
  font-size: 14px;
  letter-spacing: 1.5%;
  margin-bottom: auto;
}

.lastSlides {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  gap: 32px;
}

.lastSlideItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #FFFFFF;
  font-family: "Neue Sans Regular", sans-serif;
  color: inherit;
  text-decoration: none;
  margin-bottom: 0;
}

.lastSlideItem > .img {
  height: 140px;
}

.lastSlideItem > a {
  padding-inline: 8px;
  height: 36px;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 1.5%;
  margin-bottom: 0;
}

.lastUpdated {
  margin-inline: 8px;
  font-family: "Neue Sans Regular", sans-serif;
  font-size: 10px;
  color: #6F6F71;
}