a {
  font-family: "Neue Sans Regular", sans-serif;
  font-size: 15px;
  line-height: 225%;
  display: inline-block;
  margin-bottom: 28px;
}

.topContainer {
  max-width: 1104px;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-block: 64px;
}

.midContainer {
  max-width: 1104px;
  margin-inline: auto;
  text-align: center;
  margin-bottom: 64px;
}

.botContainer {
  max-width: 1104px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 528px 528px;
  grid-template-rows: 348px 348px;
  gap: 48px 40px;
  margin-bottom: 64px;
}

.landingCard {
  display: flex;
  padding: 32px 40px;
  align-items: center;
  flex-direction: column;
  background-color: #E2E8F0;
  border-radius: 20px;
}

.landingCard > span {
  font-family: "Neue Sans Regular", sans-serif;
  font-size: 14px;
  letter-spacing: 1.5%;
  margin-bottom: auto;
}

.lastSlides {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  gap: 32px;
}

.lastSlideItem {
  width: 250px;
  height: 198px;
  padding-block: 4px;
  border-radius: 8px;
  background-color: #FFFFFF;
  font-size: 13px;
  font-family: "Neue Sans Regular", sans-serif;
}