.header-container {
    margin: 0;
    padding: 0  ;
    background-color: #FFFFFF;
}

.header {
    height: 64px;
    max-width: 1104px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    gap: 38px;
}

.header > a {
    margin-bottom: 0;
    color: inherit;
    text-decoration: none;
}