.header-container {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.header {
    font-family: "Neue Sans Regular", sans-serif;
    height: 64px;
    max-width: 1104px;
    margin-inline: auto;
    padding-inline: 16px;
    display: flex;
    align-items: center;
    gap: 38px;
    box-sizing: border-box;
}

.header > a {
    margin-bottom: 0;
    color: inherit;
    text-decoration: none;
}

@media (max-width: 480px) {
    .header {
        gap: 20px;
        font-size: 14px;
    }
}