.mainContainer {
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer > a {
    margin-bottom: 64px;
}

.cardsContainer {
    display: grid;
    grid-template-columns: 269px 269px 269px;
    gap: 64px;
}

.generateCard {
    display: flex;
    padding: 40px 32px;
    flex-direction: column;
    background-color: #E2E8F0;
    border-radius: 20px;
    text-align: start;
    border: none;
    cursor: pointer;
}

.generateCard > a {
    line-height: 1.3;
    letter-spacing: 1.5%    ;
    font-size: 13px;
    margin-bottom: 0;
}

.flex {
    display: flex;
    align-items: center;
    gap: 12px;
}

.flex > h1 {
    margin-bottom: 0;
}

.promptForm {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 40px 27px;
    width: 950px;
    gap: 24px;
    border-radius: 20px;
    margin-bottom: 28px;
    font-family: "Neue Sans Light", sans-serif;
}

.promptForm > div > input {
    all: unset;
    background-color: #F6F7F8;
    border-radius: 8px;
    padding-inline: 8px;
    width: 100%;
    font-size: 20px;
    border: 1px #F6F7F8 solid;
    height: 56px;
}

.promptForm > div > input:focus {
    border: 1px #333333 solid;
}

.promptForm > div > span {
  font-size: 18px;
  display: inline-block;
}

.promptForm > span {
  color: #F52222;
  font-size: 16px;
  display: inline-block;
}

.loader {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}