.sectionSlide {
    width: 1104px;
    height: 621px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 63px;
    background-color: #222424;
}

.prosConsLeft {
    color: #FFFFFF;
    height: 88%;
    width: 335px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 80px;
    background-color: #333333;
    padding: 36px;
}

.prosConsRight {
    display: flex;
    padding-right: 63px;
    flex-direction: column;
    gap: 62px;
}

.prosConsRight > div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.prosConsIcon {
    display: flex;
    align-items: center;
    gap: 47px;
    color: #FFFFFF;
    font-family: "Tinkoff Sans Bold", sans-serif;
    font-size: 24px;
}

.prosConsText {
    margin-left: 80px;
    font-family: "Tinkoff Sans Regular", sans-serif;
    font-size: 16px;
    color: #C9C9C9;
    height: 60px;
    width: 400px;
}

.prosConsIcon textarea {
    height: 30px;
    width: 400px;
    white-space: pre;
    overflow: auto;
}

.pageNumberPros {
    color: #FFFFFF;
    font-family: "Tinkoff Sans Regular", sans-serif;
    font-size: 14px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-right: 42px;
    padding-bottom: 52px;
}

.title {
    color: #FFFFFF;
    font-family: 'Tinkoff Sans Bold', sans-serif;
    font-size: 44px;
    width: 320px;
    height: 300px;
    letter-spacing: 1.5%;
}
