@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-tinkoff: "Tinkoff_Sans", sans-serif;
  --font-neue: "Neue_Sans", sans-serif;
  --color-accent: var(--accent);
  --color-accent_hover: var(--accent_hover);
  --color-accent_active: var(--accent_active);
  --color-accent2: var(--accent2);
  --color-textd: var(--textd);
  --color-textg: var(--textg);
  --color-secondary: var(--secondary);
  --color-main: var(--main);
  --color-error_accent: var(--error_accent);
  --color-error_main: var(--error_main);
  --color-border: var(--border);
  --color-field_active: var(--field_active);
  --color-field: var(--field);
  --text-h1: 2.75rem;
  --text-h1--line-height: 3.375rem;
  --text-h1--letter-spacing: 0.041rem;
  --text-h1--font-weight: bold;
}

:root {
  --accent: oklch(0.8977 0.1669 96.21);
  --accent_hover: oklch(0.8685 0.1651 89.2);
  --accent_active: oklch(0.8184 0.165 80.62);
  --accent2: oklch(1 0 0);
  --textd: oklch(0.3135 0.0018 286.3);
  --textg: oklch(0.5446 0.002 247.86);
  --secondary: oklch(0.9288 0.0126 255.51);
  --main: oklch(0.9757 0.0017 247.84);
  --error_accent: oklch(0.6201 0.239 27.93);
  --error_main: oklch(0.9288 0.0333 13.18);
  --border: oklch(1 0 0 / 10%);
  --field_active: oklch(0.9475 0.008 253.85);
  --field: oklch(0.9665 0.0045 258.32);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-main text-textd font-neue;
  }
  h1 {
    @apply font-tinkoff
  }
}